# EJERCICIO 2: Proceso Análisis Exploratorio
Ejercicio para practicar la introducción al EDA (Exploratory Data Analysis).

# Objetivo: EDA SP500
Eres un inversor privado que está considerando el sp500 como producto. Basándote en el histórico del sp500, resuelve las preguntas que puedes ver a continuación.


Primero, claro, debes importar el dataset del sp500 y las librerías necesarias.

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
# Generamos un objeto para subir el archivo
from google.colab import files
uploaded = files.upload()

# Convertimos los bytes a formato tabular (como el file row que veíamos para Github)
import io
buffer_io = io.BytesIO(uploaded['sp500.csv'])

# Cargamos en un dataframe
df_sp500 = pd.read_csv(buffer_io)
df_sp500.head(3)

Saving sp500.csv to sp500 (1).csv

         Date       Open       High        Low      Close  Adj Close  Volume
0  1927-12-30  17.660000  17.660000  17.660000  17.660000  17.660000       0
1  1928-01-03  17.760000  17.760000  17.760000  17.760000  17.760000       0
2  1928-01-04  17.719999  17.719999  17.719999  17.719999  17.719999       0

# Pregunta 1
### Cuánto valdría mi inversión ahora si hubiera metido 1 dollar el primer día (1927-12-30)
Nota: ese dollar es equivalente a unos $15.22 de ahora por la inflacción. Ha superado el sp500 la inflacción?

In [ ]:
# Variación respecto a ayer
df_sp500['Variacion'] = df_sp500['Close']/df_sp500['Close'].shift(1)

In [ ]:
# Solución 1: Producto de la variación diaria
np.array(df_sp500['Variacion'].dropna()).prod()

194.98527412231164

In [ ]:
# Solución 2: Variación entre el primer y el último registro
df_sp500.iloc[-1,5]/df_sp500.iloc[0,5]

194.98527412231027

# Pregunta 2
### Qué porcentaje de días el sp500 ha acabado por encima del día valor de cierre del día anterior

In [ ]:
# Filtro que determina qué días se ha crecido
filtro_verde = df_sp500['Variacion'] > 1
filtro_verde[:5]

0    False
1     True
2    False
3    False
4     True
Name: Variacion, dtype: bool

In [ ]:
# Porcentaje que supone sobre el total
filtro_verde.sum()/len(df_sp500)
# Ok, pues se gana un 52.3% de los días (se pierde bastantes días)

0.5236890622990181

# Pregunta 3
Considerando un año como los ultímos 365 días, es decir, los últimos 250 días de bolsa (cierra findes y festivos),
### Cuál es la ganancia media anual esperable

In [ ]:
# Calculamos primero la variación en los últimos 250 registros para cada registro disponible
df_sp500['Variacion ac ult 250'] = df_sp500['Variacion'].rolling(250).agg(lambda x:x.prod())

In [ ]:
df_sp500.describe()

               Open  ...  Variacion ac ult 20 años
count  23323.000000  ...              18323.000000
mean     486.821737  ...                  4.336360
std      726.187716  ...                  2.494470
min        4.400000  ...                  0.483679
25%       23.855001  ...                  2.438813
50%       99.500000  ...                  3.763990
75%      834.035004  ...                  5.720982
max     3564.739990  ...                 14.675931

[8 rows x 16 columns]

# Pregunta 4
Mi objetivo es invertir una cantidad en el sp500 y extraer mi dinero en 5 años (de nuevo nos referimos a la idea de año descrita en la pregunta anterior). Pero soy tremendamente gafe e invierto el peor día posible de la historia para conseguir mi objetivo.
### Qué día he invertido? Cuánto he perdido al cabo de 5 años?

In [ ]:
# Días de bolsa en 5 años
250*5

1250

In [ ]:
# Solución 1:
# Creación variable variacion tras 5 años utilizando [::-1] para revertir orden
df_sp500['Variacion ac tras 1250'] = df_sp500[::-1]['Variacion'].rolling(1250).agg(lambda x:x.prod())[::-1]

# Filtro que determina el peor día de compra (respecto a una venta en 5 años)
filtro_gafe = df_sp500['Variacion ac tras 1250'] == df_sp500['Variacion ac tras 1250'].min()

# Visualizamos ese día de compra
df_sp500.loc[filtro_gafe,['Date','Close','Variacion ac tras 1250']]

           Date  Close  Variacion ac tras 1250
423  1929-09-09  31.67                0.266101

In [ ]:
# Solución 2:
# Creación variable variacion ult 5 años
df_sp500['Variacion ac ult 1250'] = df_sp500['Variacion'].rolling(1250).agg(lambda x:x.prod())

# Filtro que determina el peor día de venta (respecto a una compra hace 5 años)
filtro_gafe = df_sp500['Variacion ac ult 1250'] == df_sp500['Variacion ac ult 1250'].min()

# Mostramos la fecha y variacion acumuladas en los últimos 1250 para ese día
display('Venta: ', df_sp500.loc[filtro_gafe,['Date','Close','Variacion ac ult 1250']])

# Nos guardamos el valor del índice de ese día
indice_salida = df_sp500.loc[filtro_gafe].index

# Ahora le restamos 1250 (-1) para acceder al valor del índice de hace 5 años
indice_entrada = indice_salida-1250-1

# Utilizamos ese índice para ver el valor de compra
display('Compra ', df_sp500.loc[indice_entrada,['Date','Close','Variacion ac ult 1250']])

'Venta: '

            Date  Close  Variacion ac ult 1250
1672  1934-09-14   8.47               0.266101

'Compra '

           Date  Close  Variacion ac ult 1250
421  1929-09-05  31.02                    NaN

In [ ]:
print("Invertí el día " + str(df_sp500.loc[indice_entrada,'Date'].values))

ganancia = np.round(float(df_sp500.loc[filtro_gafe,'Variacion ac ult 1250'].values), 2)
print('5 años después había perdido el ' + str((1-ganancia)*100) + '%')

Invertí el día ['1929-09-05']
5 años después había perdido el 73.0%

# Pregunta 5
La respuesta a la pregunta anterior se ve influenciada por el crash del 1929. A partir de ahora limitemos nuestro análisis a los últimos del 1955 en adelante.
### Cuál es la distribución de la ganancia a [1,2,5,10,15,20] años?
Nota: con distribución nos referimos a los estadísticos principales: media, mediana, cuantiles principales, etc.

In [ ]:
# Primero creamos las variables deseadas para los intervalos pedidos
for n in [1,2,5,10,15,20]:

  # Variación en los últimos 250*n registros para cada registro disponible
  df_sp500['Variacion ac ult '+str(n)+' años'] = df_sp500['Variacion'].rolling(250*n).agg(lambda x:x.prod())

In [ ]:
# Generamos un filtro que nos seleccione solo las fechas desde 1950
filtro_post_1955 = df_sp500['Date'] >= '1955-01-01'
df_sp500.loc[filtro_post_1955,:].head()

            Date       Open  ...  Variacion ac ult 15 años  Variacion ac ult 20 años
6747  1955-01-03  36.750000  ...                  2.877839                  3.836117
6748  1955-01-04  36.419998  ...                  2.860958                  3.845829
6749  1955-01-05  35.520000  ...                  2.805687                  3.754757
6750  1955-01-06  35.040001  ...                  2.765588                  3.711865
6751  1955-01-07  35.330002  ...                  2.815140                  3.819460

[5 rows x 17 columns]

In [ ]:
# Ejecutamos el método describe() sobre el dataframe filtrado
df_sp500.loc[filtro_post_1955,[var for var in df_sp500.columns if 'años' in var]].describe()

       Variacion ac ult 1 años  ...  Variacion ac ult 20 años
count             16576.000000  ...              16576.000000
mean                  1.085090  ...                  4.588016
std                   0.158046  ...                  2.458483
min                   0.512270  ...                  1.547355
25%                   0.989114  ...                  2.699654
50%                   1.096430  ...                  4.004788
75%                   1.187664  ...                  5.953456
max                   1.683148  ...                 14.675931

[8 rows x 6 columns]