# Ejercicio 1

Crea, a partir de un diccionario, un DataFrame llamado *data* con los datos de la tabla siguiente, consulta su índice y los tipos de datos de sus columnas:


|Mes|Ventas|Gastos|
| - | - | - |
|Enero| 30500|22000|
|Febrero|34120|23400|
|Marzo|31200|25112|

*Nota: La columna Mes ha de ser el index

# Ejercicio 2

Ejecuta la siguiente celda para inicializar el entorno de prueba antes de realizar los ejercicios 2 y 3:

In [ ]:
####################  ESTE TROZO DE CÓDIGO NOS CREARÁ UNA PEQUEÑA BASE DE DATOS PARA UTILIZAR DE EJEMPLO. ####
####################   NO ES NECESARIO QUE LO APRENDAIS, SOLO EJECUTARLO UNA VEZ                          ####
# Importamos SQLite
import sqlite3
import pandas as pd
# conectamos a la BD
db_con = sqlite3.connect(r'database.db') #recordar utilizar la variable db_con para leer de la base de datos!:)
# Leemos todos los csvs
c = pd.read_csv("https://raw.githubusercontent.com/cpinuaga/carlospinuagathevalley-IntroPandas2023/main/customers.csv")
o = pd.read_csv("https://raw.githubusercontent.com/cpinuaga/carlospinuagathevalley-IntroPandas2023/main/orders.csv")
r = pd.read_csv("https://raw.githubusercontent.com/cpinuaga/carlospinuagathevalley-IntroPandas2023/main/returns.csv")
p = pd.read_csv("https://raw.githubusercontent.com/cpinuaga/carlospinuagathevalley-IntroPandas2023/main/products.csv")
# Escribimos los csvs como tablas en la base de datos.
c.to_sql('customers', db_con, if_exists='replace', index=False)
o.to_sql('orders', db_con, if_exists='replace', index=False)
r.to_sql('returns', db_con, if_exists='replace', index=False)
p.to_sql('products', db_con, if_exists='replace', index=False)

**Ejercicio 2.a**
Lee los archivos utilizando las siguientes URLs y guardalos en DataFrames.

`url_customers = "https://raw.githubusercontent.com/cpinuaga/carlospinuagathevalley-IntroPandas2023/main/customers.csv"`

`url_products = "https://raw.githubusercontent.com/cpinuaga/carlospinuagathevalley-IntroPandas2023/main/products.csv"`

**Ejercicio 2.b** Utilizando SQL, lee de la base de datos la tabla customers y la tabla orders y guardalos en dataframes distintos

**Ejercicio 2.c** Utilizando SQL, lee los pedidos de la tabla orders correspondientes al año 2015.

**Ejercicio 2.d** **DIFICIL**  Utilizando SQL, lee los pedidos de la tabla orders correspondientes al año 2015, y mezclalo con un JOIN con la informacion del cliente (customers).

# Ejercicio 3

Vamos a jugar con un dataframe resultado de mezclar la tabla de pedidos con la tabla de productos (tablas orders y products).

In [ ]:
order_and_products = pd.read_sql("SELECT * FROM orders JOIN products ON orders.Product_ID = products.Product_ID", db_con)
order_and_products.head()

**Ejercicio 3.a** Crea un índice sobre el dataframe para poder recuperar datos por el Order_ID de una fila en concreto de una forma más cómoda. Posteriormente, recupera los datos del Order_ID CA-2015-155453

**Ejercicio 3.b**
Consigue los datos de las filas 300 a 500

**Ejercicio 3.c** Recupera la columna con las fechas de pedido.

**Ejercicio 3.d** Consigue los datos de las filas 300 en adelante, pero solo las columnas Order_Date y Category. Recuerda, tendrás que utilizar .loc[]

In [ ]:
# Reseteamos el indice para poder localizar las filas por su número en lugar de su id de pedido
order_and_products = order_and_products.reset_index(drop=False)

**Ejercicio 3.e** Recupera todas las filas de los pedidos correspondientes a la categoría "Office Supplies"

**Ejercicio 3.f** Recupera todas las filas correspondientes a la categoría "Technology" y cuyo precio sea mayor que 30.

**Ejercicio 3.g** Crea una nueva columna "Amount" que multiplique la cantidad ("Quantity") y el precio ("Price"), lo que forma el total de esa linea de pedido

**Ejercicio 3.h** ¿Hay alguna linea de pedido que supere los 6000 de importe?

**Ejercicio 3.i** Utilizando SQL, junta la tabla de Pedidos, Clientes y Productos y calcula qué "Segment" de clientes ha facturado más. Para ello tienes que usar la columna Price y Quantity. Guarda el resultado en un DataFrame. ¿Cuál es el segmento de cliente que más ha facturado?

# EJERCICIO EXTRA

Utiliza lo aprendido en esta sesión para completar las siguientes acciones en un dataset de precios de casas en Ames, Iowa (USA).

Fuente: http://jse.amstat.org/v19n3/decock.pdf

Dataset info: https://www.kaggle.com/c/house-prices-advanced-regression-techniques/data

URL del fichero: https://raw.githubusercontent.com/cpinuaga/carlospinuagathevalley-IntroPandas2023/main/house_prices.csv

También puedes descargarlo de Kaggle y leerlo como un fichero local.

1. Lee el csv con pandas
2. Obtén el número de filas y columnas del dataframe
3. Obtén los nombres de las columnas del dataframe
4. Obtén un dataframe con los datos de las casas construidas antes de 1999 con 3 habitaciones o más (columna BedroomAbvGr) y de tipo unifamiliar (BldgType == "1Fam") y expórtalo como csv.
5. Lee el csv resultante y cambia los valores de la columna de 'CentralAir' de 'Y' y 'N' a 'Yes' y 'No'.
6. Del dataframe resultante Selecciona solo aquellas filas que tengan info sobre la calidad de la valla, es decir, cuya valor en la columna Fence no sea nulo.
7. Trabajas en la inmobiliaria que está vendiendo las casas del dataset origial completo. La inmobiliaria ha decidido aplicar un descuento del 10% a aquellas casas con más de 20 años sin remodelar, un 5% de descuento a aquellas casas que tienen entre 15 y 20 años sin remodelar (desde el año de la última remodelación: YearRemodAdd) y 0% a las demás. Crea una columna llamada DiscountPerc que registre estos descuentos y otra columna DiscountedPrice con el precio final de la casa aplicando el descuento sobre la columna SalePrice.